{% extends "admin_base.html" %}

{% block content %}
    <div class="container">
        <h2>Instructors</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Last</th>
                    <th scope="col">First</th>
                    <th scope="col">Username</th>
                    <th scope="col">Sections</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Garcia</th>
                    <td>Sat</td>
                    <td>sat</td>
                    <td>comp110-sp21-s02</td>
                </tr>
                <tr>
                    <th scope="row">Olsen</th>
                    <td>Jennifer</td>
                    <td>jenniferolsen</td>
                    <td>comp110-sp21-s01</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container border pt-3 pb-3">
        <h2>Add New Instructor</h2>
        <form method="POST" action="">
            <div class="form-group">
                <label for="username">USD Username:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter USD username" id="username">
                    <span class="input-group-text" id="basic-addon2">@sandiego.edu</span>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" id="pwd">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
