{% extends "admin_base.html" %}

{% block content %}
    <div class="container pt-3">
        <h1>Existing Sections</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Section #</th>
                    <th scope="col">Instructor(s)</th>
                    <th scope="col">Number of Students</th>
                    <th scope="col">Action(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for (section, instructors, num_students) in sections %}
                <tr>
                    <td>{{ section.course }}</td>
                    <td>{{ section.semester }}</td>
                    <td>{{ section.section_num }}</td>
                    {% if instructors|length > 0 %}
                    <td>
                        {% for instructor in instructors %}
                        {{ instructor.first_name }} {{ instructor.last_name }}<br/>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    <td>{{ num_students }}</td>
                    <td>FIXME</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container border pt-3 pb-3">
        <h2>Add New Section</h2>
        <form method="POST" action="">
            <!-- FIXME: add code to display validation errors -->
            {{ form.csrf_token() }}
            <div class="row">
                <div class="col">
                    {{ form.course(class_="form-control", placeholder="Course (e.g. comp110)") }}
                </div>
                <div class="col">
                    {{ form.semester(class_="form-control", placeholder="Semester (e.g. sp21)") }}
                </div>
                <div class="col">
                    {{ form.section_num(class_="form-control", placeholder="Section number") }}
                </div>
            </div>

            <div class="form-group pt-2">
                <label>Instructor(s):</label>
                <div class="container">
                    {% for choice in form.instructors %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
