{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
        <h1>Existing Sections</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Section #</th>
                    <th scope="col">Instructor(s)</th>
                    <th scope="col">Number of Students</th>
                    <th scope="col">Action(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for (section, instructors, num_students) in sections %}
                <tr>
                    <td>{{ section.course }}</td>
                    <td>{{ section.semester }}</td>
                    <td>{{ section.section_num }}</td>
                    {% if instructors|length > 0 %}
                    <td>
                        {% for instructor in instructors %}
                        {{ instructor.first_name }} {{ instructor.last_name }}<br/>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    <td>{{ num_students }}</td>
                    <td>FIXME</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container border pt-3 pb-3">
        <h2>Add New Section</h2>
        <form method="POST" action="">
            {{ form.csrf_token() }}
            <div class="row">
                <div class="col">
                    {{ forms.input(form.course, "Course (e.g. comp110)") }}
                </div>
                <div class="col">
                    {{ forms.input(form.semester, "Semester (e.g. sp21)") }}
                </div>
                <div class="col">
                    {{ forms.input(form.section_num, "Section Number") }}
                </div>
            </div>

            <div class="form-group pt-2 pb-2">
                <strong>{{ form.instructors.label }}:</strong>
                <div class="container">
                    {% for choice in form.instructors %}
                    <div class="form-check">
                        {{ choice(class_="form-check-input") }}
                        {{ choice.label(class_="form-check-label") }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
