{% extends "header.html" %}
{% block body %}
    <div class="container">
        <h1>Adminstration page for SAFE</h1>
        <p>Be careful out there, oh wise admin!</p>
    </div>
    <div class="container border">
        <h1>Create Instructor</h1>
        <form method="POST" action="">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" id="pwd">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
