{% extends "admin_base.html" %}

{% block content %}
    <div class="container pt-3">
        <h2>Current Instructors</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Last</th>
                    <th scope="col">First</th>
                    <th scope="col">Username</th>
                    <th scope="col">Sections</th>
                </tr>
            </thead>
            <tbody>
                {% for inst in instructors %}
                <tr>
                    <th scope="row">{{ inst.last_name }}</th>
                    <td>{{ inst.first_name }}</td>
                    <td>{{ inst.username }}</td>
                    <td>FIXME</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container border pt-3 pb-3">
        <h2>Add New Instructor</h2>
        <form method="POST" action="">
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.first_name.label }}:
                {{ form.first_name(class_="form-control", placeholder="Enter Instructor's First Name") }}
            </div>
            <div class="form-group">
                {{ form.last_name.label }}:
                {{ form.last_name(class_="form-control", placeholder="Enter Instructor's Last Name") }}
            </div>
            <div class="form-group">
                {{ form.username.label }}:
                <div class="input-group mb-3">
                    {{ form.username(class_="form-control", placeholder="Enter USD username") }}
                    <span class="input-group-text" id="basic-addon2">@sandiego.edu</span>
                </div>
                {% if form.username.errors %} 
                <small class="text-danger">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label }}:
                {{ form.password(class_="form-control", placeholder="Enter temporary password") }}
                {% if form.password.errors %} 
                <small class="text-danger">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
