{% extends "admin_base.html" %}

{% block content %}
    <div class="container">
        <h2>Instructors</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Last</th>
                    <th scope="col">First</th>
                    <th scope="col">Username</th>
                    <th scope="col">Sections</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Garcia</th>
                    <td>Sat</td>
                    <td>sat</td>
                    <td>comp110-sp21-s02</td>
                </tr>
                <tr>
                    <th scope="row">Olsen</th>
                    <td>Jennifer</td>
                    <td>jenniferolsen</td>
                    <td>comp110-sp21-s01</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container border pt-3 pb-3">
        <h2>Add New Instructor</h2>
        <form method="POST" action="">
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.username.label }}:
                <div class="input-group mb-3">
                    {{ form.username(class_="form-control", placeholder="Enter USD username") }}
                    <span class="input-group-text" id="basic-addon2">@sandiego.edu</span>
                </div>
                {% if form.username.errors %} 
                <small class="text-danger">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label }}:
                {{ form.password(class_="form-control", placeholder="Enter temporary password") }}
                {% if form.password.errors %} 
                <small class="text-danger">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
