{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
<div class="container pt-3">
	<h1>Assignment Info</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Name:</strong> PSA {{assignment.num}}: {{assignment.title}}
        </li>
        <li class="list-group-item">
            <strong>Course:</strong> {{section.course}}, Section {{section.section_num}} ({{section.semester}})
        </li>
    </ul>
</div>

<div class="container pt-3">
	<h1>Groups</h1>
    <ul class="list-group">
        {% if teams|length > 0 %}
            {% for team in teams %}
            <li class="list-group-item">
                <div class="container">
                    <div class="row">
                        <h5>Group {{team.team_num}}</h5>
                    </div>
                    <div class="row">
                        <strong>Members:</strong>&nbsp;
                        {% for m in team.members %} 
                            {{m.first_name}} {{m.last_name}}, 
                        {% endfor %}
                    </div>
                    <div class="row">
                        <strong>Submission Time:</strong>&nbsp; FIXME
                    </div>
                    <div class="row">
                        <strong>Commit Message:</strong>&nbsp; FIXME
                    </div>
                    <div class="row">
                        <strong>Feedback Time:</strong>&nbsp; FIXME
                    </div>
                    <div class="row">
                        <a href="{{ url_for('psa_results',
                                 semester=section.semester,
                                 section_num=section.section_num,
                                 psa_num=assignment.num,group_num=team.team_num)
                                 }}">View Feedback</a>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <a href="#">Regenerate Feedback</a>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <a href="#">Delete Group</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No groups found</li>
        {% endif %}
    </ul>

    <div class="container border pt-3 pb-3">
        <h2>Create New Group</h2>
        <form method="POST" action="">
            {{ group_form.csrf_token() }}
            {{ forms.input(group_form.group_num, "Enter group number (e.g. 3)") }}
            <div class="form-group pt-2 pb-2">
                <strong>{{ group_form.members.label }}</strong>
                <div class="container">
                    {% for choice in group_form.members %}
                    <div class="form-check">
                        {{ choice(class_="form-check-input") }}
                        {{ choice.label(class_="form-check-label") }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {{ group_form.submit(class_="btn btn-outline-primary btn-sm") }}
        </form>
    </div>
</div>

{% endblock %}
