<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

	<title>Testing out bootstrap!</title>
</head>
<body>
	<div class="container">
		<div class="row bg-info text-white">
			<div class="col">
				One of three columns
			</div>
			<div class="col">
				One of three columns
			</div>
			<div class="col">
				One of three columns
			</div>
		</div>
	</div>
</body>
</html>
