{% extends "base.html" %}

{% block body %}
<div class="container pt-3">
    <h1>Course Info ({{section.course|upper}})</h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Instructor(s):</strong> FIXME</li>
        <li class="list-group-item"><strong>Semester:</strong> {{section.semester|upper}}</li>
        <li class="list-group-item"><strong>Section:</strong> {{"%02d"|format(section.section_num)}}</li>
    </ul>
</div>

<div class="container pt-3">
	<h1>Assignments</h1>
    <ul class="list-group">
        {% if assignments|length > 0 %}
            {% for (assignment_num, assignment_title, group_num) in assignments %}
            <li class="list-group-item">
                <strong>PSA {{assignment_num}}:</strong> {{assignment_title}}
                (<a href="{{ url_for('psa_results', semester=section.semester, section_num=section.section_num, psa_num=assignment_num, group_num=group_num) }}">Group {{ group_num }}</a>)
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No assignments found</li>
        {% endif %}
    </ul>
</div>
{% endblock %}
