{% extends "base.html" %}

{% block body %}
<div class="container pt-3">
	<h1>Course Info</h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> {{section.course}}</li>
        <li class="list-group-item"><strong>Semester:</strong> {{section.semester}}</li>
        <li class="list-group-item"><strong>Section:</strong> {{section.section_num}}</li>
    </ul>
</div>

<div class="container pt-3">
	<h1>Assignments</h1>
    <ul class="list-group">
        {% if section.assignments|length > 0 %}
            {% for assignment in section.assignments %}
            <li class="list-group-item">{{assignment.title}}</li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No assignments found</li>
        {% endif %}
    </ul>
    <div class="container pl-1 pt-3">
        <a class="btn btn-primary" href="#" role="button">Add Assignment</a>
    </div>
</div>

<div class="container pt-3">
	<h1>Roster</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.last_name }}, {{ user.first_name }}</th>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.instructor %} Instructor {% else %} Student {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container pl-0">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            <div class="form-group">
                <h4>{{ form.roster_file.label }}:</h4>
                {{ form.roster_file(class_="form-control-file") }}
                <!--
                <label for="rosterUpload"><strong>Upload roster file (CSV)</strong></label>
                <input type="file" class="form-control-file" id="rosterUpload">
                -->
            </div>
            <!--
            <button type="button" class="btn btn-outline-primary">Upload</button>
            -->
            {{ form.submit(class_="btn btn-outline-primary btn-sm") }}
        </form>
    </div>
</div>
{% endblock %}
