{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-2">
        <h2>SAFE Admin: Sections</h2>
        <hr/>
    </div>

    <div class="container pt-2">
        <h3>Existing Sections</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Section #</th>
                    <th scope="col">Instructor(s)</th>
                    <th scope="col">Number of Students</th>
                    <th scope="col">Action(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for section in sections %}
                <tr>
                    <td>{{ section.course }}</td>
                    <td>{{ section.semester }}</td>
                    <td>{{ section.section_num }}</td>
                    {% if section.num_instructors() > 0 %}
                    <td>
                        {% for instructor in section.instructors() %}
                        {{ instructor.first_name }} {{ instructor.last_name }}<br/>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    <td>{{ section.num_students() }}</td>
                    <td>
                        <a class="text-decoration-none" href="{{ url_for('admin.modify_section', section_id=section.section_id) }}">Modify</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container pt-2">
        <h3>Add New Section</h3>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    {{ forms.input(form.course, "", "form-select") }}
                </div>
                <div class="col">
                    {{ forms.input(form.semester, "", "form-select") }}
                </div>
                <div class="col">
                    {{ forms.input(form.section_num, "Section Number") }}
                </div>
            </div>

            {{ forms.checkbox_input(form.instructors) }}
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>

{% endblock %}
