{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-2">
        <h2>SAFE Admin: Instructors</h2>
        <hr/>
    </div>

    <div class="container pt-2">
        <h3>Current Instructors</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Last</th>
                    <th scope="col">First</th>
                    <th scope="col">Username</th>
                    <th scope="col">Sections</th>
                </tr>
            </thead>
            <tbody>
                {% for inst in instructors %}
                <tr>
                    <th scope="row">{{ inst.last_name }}</th>
                    <td>{{ inst.first_name }}</td>
                    <td>{{ inst.username }}</td>
                    <td>
                        {% if inst.sections %}
                        <ul class="list-unstyled">
                            {% for section in inst.sections %}
                            <li>
                                {{section.course|upper}},
                                {{section.semester|upper}}:
                                Section {{section.section_num}}
                                (<a href="{{url_for('user_views.section_overview',
                                      course_name=section.course,
                                      semester=section.semester,
                                      section_num=section.section_num)}}">View</a>)
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        None
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container pt-2">
        <h3>Add New Instructor</h3>
        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ forms.input(form.first_name, "Enter Instructor's First Name") }}
            {{ forms.input(form.last_name, "Enter Instructor's Last Name") }}
            <div class="form-group">
                <strong>{{ form.username.label }}:</strong>
                <div class="input-group">
                    {{ form.username(class_="form-control", placeholder="Enter Instructor's USD username") }}
                    <span class="input-group-text" id="basic-addon2">@sandiego.edu</span>
                </div>
                {% if form.username.errors %} 
                <small class="text-danger">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group ms-1 pt-2 pb-2">
                {{ form.admin(class_="pl-2 form-check-input") }} {{ form.admin.label }}
            </div>
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
