{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-2">
        <h2>SAFE Admin: Assignments</h2>
        <hr/>
    </div>

    <div class="container pt-2">
        <h3>Existing Assignments</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Source Files</th>
                    <th scope="col">Tester Files</th>
                    <th scope="col">Tester Command</th>
                    <th scope="col">Max Runtime (sec)</th>
                    <th scope="col">Action(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                <tr>
                    <td>{{ assignment.title }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for sf in assignment.files %}
                            <li>{{ sf.filename }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            {% for tf in assignment.tester_files %}
                            <li>
                                <a class="text-decoration-none" href="{{ url_for('admin.view_tester_file', assignment_id=assignment.assignment_id, filename=tf.filename) }}">{{ tf.filename }}</a>
                                <a href="{{ url_for('admin.delete_tester_file', assignment_id=assignment.assignment_id, filename=tf.filename) }}">
                                <i class="bi-x-square" style="color: firebrick"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td><code class="text-dark">{{ assignment.tester_run_command }}</code></td>
                    <td>{{ assignment.max_runtime }}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-decoration-none" href="{{ url_for('admin.add_tester_files', assignment_id=assignment.assignment_id) }}">
                                Add Tester Files
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container pt-2">
        <h3>Add Assignment</h3>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ assignment_form.csrf_token() }}
            {{ forms.input(assignment_form.title, "Enter assignment title") }}
            {{ forms.input(assignment_form.files, "Enter space separate list of assignment files") }}
            <div class="row">
                <div class="col">
                    {{ forms.input(assignment_form.tester_run_command, "Enter command to be run by the tester (e.g. 'python3 my_autograde.py')") }}
                </div>
                <div class="col">
                    {{ forms.input(assignment_form.max_runtime, "Enter maximum tester runtime (in seconds)") }}
                </div>
            </div>
            {{ forms.input(assignment_form.tester_files, "", "form-control") }}
            {{ assignment_form.submit(class_="btn btn-primary btn-sm") }}
        </form>
    </div>

{% endblock %}
