{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
<div class="container pt-3">
	<h2>Add Tester Files</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Assignment Title:</strong>
            {{assignment.title}}</li>
        {% if assignment.tester_files|length > 0 %}
        <li class="list-group-item"><strong>Existing Files:</strong> 
            <ul>
            {% for tf in assignment.tester_files %}
                <li>{{tf.filename}}</li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
    <div class="container pt-3">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ files_form.csrf_token() }}
            {{ forms.input(files_form.new_files, "", "form-control-file") }}
            {{ files_form.submit(class_="btn btn-outline-primary btn-sm") }}
        </form>
    </div>
</div>
{% endblock %}
