{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-2">
        <h2>SAFE Admin: Users</h2>
        <hr/>
    </div>

    <div class="container pt-2">
        <h3>Current Users</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Last</th>
                    <th scope="col">First</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ user.last_name }}</th>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% if user.instructor %}
                            Instructor
                        {% else %}
                            Student
                        {% endif %}
                    </td>
                    <td>
                        <a class="text-decoration-none link-danger" href="{{ url_for('admin.admin_delete_user', id=user.user_id) }}">
                            <i class="bi-x-square-fill"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
