{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
<div class="container pt-3">
	<h2>Assignment Info</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Name:</strong> PSA {{assignment.num}}: {{assignment.base_assignment.title}}
        </li>
        <li class="list-group-item">
            <strong>Course:</strong> {{section.course | upper}}, Section
            {{section.section_num}} ({{section.semester | upper}})
        </li>
        <li class="list-group-item">
            <strong>Deadline:</strong> {{ assignment.deadline.strftime("%b %d, %Y @ %I:%M %p") }}
        </li>
        <li class="list-group-item">
            <strong>Student Submitted Files:</strong> 
            <ul>
                {% for sf in assignment.base_assignment.files %}
                <li>{{sf.filename}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Tester Files:</strong> 
            <ul>
                {% for tf in assignment.base_assignment.tester_files %}
                <li>
                    <a class="text-decoration-none"
                        href="{{url_for('user_views.view_tester_file', course_name=section.course, semester=section.semester, section_num=section.section_num, psa_num=assignment.num, filename=tf.filename)}}">
                        {{tf.filename}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Tester Command:</strong>
            <code class="text-dark">{{ assignment.base_assignment.tester_run_command }}</code>
        </li>
        {% if current_user.admin %}
        <li class="list-group-item">
            <strong>Gitolite Conf:</strong>
            <a class="text-decoration-none"
				href="{{ url_for('admin.get_gitolite_conf', assignment_id=assignment.assignment_id) }}">
                View
            </a>
        </li>
        {% endif %}
        <li class="list-group-item">
            <a class="btn btn-sm btn-outline-primary"
               role="button"
               href="{{ url_for('user_views.edit_assignment',
                                course_name=section.course,
                                semester=section.semester,
                                section_num=section.section_num,
                                psa_num=assignment.num) }}">Edit Assignment</a>
        </li>
    </ul>
</div>

<div class="container pt-3">
    <h2>Groups</h2>
    <ul class="list-group">
        {% if assignment.teams.count() > 0 %}
            {% for team in assignment.teams %}
            <li class="list-group-item border-0">
                <h5>
                    <i class="bi-people"></i>
                    Group {{team.team_num}}
                </h5>
                <hr/>
                <dl class="row">
                    <dt class="col-lg-2">Members</dt>
                    <dd class="col-lg-10">
                        <ul class="list-unstyled">
                        {% for m in team.members %} 
                            <li>{{m.last_name}}, {{m.first_name}}</li>
                        {% endfor %}
                        </ul>
                        <p>
                        <i class="bi-arrow-left-right"></i>
                        <a class="text-decoration-none" href="{{ url_for('user_views.modify_group', course_name=section.course, semester=section.semester, section_num=section.section_num, psa_num=assignment.num, group_num=team.team_num) }}">
                                                          Add/Remove Members
                            </a>
                        </p>
                    </dd>

                    {% set latest_results = team.get_latest_results() %}
                    {% if latest_results %}
                        <dt class="col-lg-2">Submission Info</dt>
                        <dd class="col-lg-10">
                            <strong>Time:</strong> {{latest_results.commit_time.strftime('%b %d, %Y @ %I:%M:%S %p')}}
                            <br/><strong>Author:</strong> {{latest_results.commit_author }}
                            <br/><strong>Comment:</strong> {{latest_results.commit_comment }}
                        </dd>

                        <dt class="col-lg-2">Feedback Time</dt>
                        <dd class="col-lg-10">
                            {{ latest_results.completed_at.strftime('%b %d, %Y @ %I:%M:%S %p')}}
                        </dd>

                        {% set num_passed, num_failed, num_error = latest_results.breakdown_results() %}
                        <dt class="col-lg-2">Feedback Summary</dt>
                        <dd class="col-lg-10">
                            <i class="bi-check-circle-fill" style="color: green;"></i> {{ num_passed }} ,
                            <i class="bi-x-circle-fill" style="color: red;"></i> {{ num_failed }} ,
                            <i class="bi-exclamation-circle-fill" style="color: #fdd835;"></i> {{ num_error }}
                        </dd>
                    {% else %}
                        <dt class="col-lg-2">Submission Info</dt>
                        <dd class="col-lg-10">No test results available</dd>
                    {% endif %}

                    <dt class="col-lg-2">Actions</dt>
                    <dd class="col-lg-10">
                        <ul class="list-unstyled">
                            <li>
                                <i class="bi-binoculars"></i>
                                <a class="text-decoration-none" href="{{ 
                                         url_for('user_views.psa_results',
                                             course_name=section.course,
                                             semester=section.semester,
                                             section_num=section.section_num,
                                             psa_num=assignment.num,group_num=team.team_num)
                                         }}">
                                    View Feedback
                                </a>
                            </li>
                            <li>
                                <i class="bi-arrow-repeat"></i>
                                <a class="text-decoration-none" href="javascript:sendNotification('{{
                                        url_for('notify.handle_notification',
                                            course=section.course, semester=section.semester,
                                            section=section.section_num, psa=assignment.num,
                                            group=team.team_num)
                                            }}').then(alert)">
                                    Regrade Submission
                                </a>
                            </li>
                            <li>
                                <i class="bi-trash"></i>
                                <a class="text-decoration-none link-danger" href="{{ 
                                          url_for('user_views.delete_group',
                                              course_name=section.course,
                                              semester=section.semester,
                                              section_num=section.section_num,
                                              psa_num=assignment.num,group_num=team.team_num) 
                                          }}">
                                    Delete Group
                                </a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No groups found</li>
        {% endif %}
    </ul>

    <hr/>
    <div class="container pt-2 pb-2">
        <h2>Import Groups</h2>
        <p>Select an assignment to copy groups from. Note that this option is
        only available if this assignment doesn't have any groups.</p>
        <form method="POST" action="">
            {{ copy_groups_form.csrf_token }}
            {{ forms.input(copy_groups_form.assignment_num, "", "form-select") }}
            {% if assignment.teams.count() == 0 %}
            {{ copy_groups_form.submit(class_="btn btn-outline-primary btn-sm") }}
            {% else %}
            {{ copy_groups_form.submit(class_="btn btn-outline-primary btn-sm disabled") }}
            {% endif %}
        </form>
    </div>

    <hr/>
    <div class="container pt-2 pb-2">
        <h2>Create New Group</h2>
        <form method="POST" action="">
            {{ group_form.csrf_token }}
            {{ forms.input(group_form.group_num, "Enter group number (e.g. 3)") }}
            {{ forms.checkbox_input(group_form.members) }}
            {{ group_form.submit(class_="btn btn-outline-primary btn-sm") }}
        </form>
    </div>
</div>

<script type="text/javascript">
    async function sendNotification(url) {
        const data = {
            'user': {{ current_user.username|tojson }},
            'branch': 'main'
        }
        const config = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        }
        const response = await fetch(url, config);
        const content = await response.json();

        if (response.ok) {
            return `SUCCESS: ${content.message}`;
        }
        else {
            return `ERROR (Code: ${response.status}): ${content.message}`
        }
    }
</script>

{% endblock %}
