{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
<div class="container pt-3">
	<h2>Assignment Info</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Name:</strong> PSA {{assignment.num}}: {{assignment.title}}
        </li>
        <li class="list-group-item">
            <strong>Course:</strong> {{section.course}}, Section {{section.section_num}} ({{section.semester}})
        </li>
    </ul>
</div>

<div class="container pt-3">
	<h2>Groups</h2>
    <ul class="list-group">
        {% if teams|length > 0 %}
            {% for team in teams %}
            <li class="list-group-item">
                <h5>Group {{team.team_num}}</h5>
                <hr/>
                <dl class="row">
                    <dt class="col-lg-2">Members</dt>
                    <dd class="col-lg-10">
                        <ul class="list-unstyled">
                        {% for m in team.members %} 
                            <li>{{m.last_name}}, {{m.first_name}}</li>
                        {% endfor %}
                        </ul>
                    </dd>

                    <dt class="col-lg-2">Submission Time</dt>
                    <dd class="col-lg-10">FIXME</dd>

                    <dt class="col-lg-2">Commit Comment</dt>
                    <dd class="col-lg-10">FIXME</dd>

                    <dt class="col-lg-2">Feedback Time</dt>
                    <dd class="col-lg-10">FIXME</dd>
                </dl>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url_for('psa_results', semester=section.semester, section_num=section.section_num, psa_num=assignment.num,group_num=team.team_num) }}">View Feedback</a>
                    </li>
                    <li>
                        <a href="#">Regenerate Feedback</a>
                    </li>
                    <li>
                        <a href="{{ url_for('delete_group', semester=section.semester, section_num=section.section_num, psa_num=assignment.num,group_num=team.team_num) }}">Delete Group</a>
                    </li>
                </ul>
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No groups found</li>
        {% endif %}
    </ul>

    <div class="container border pt-3 pb-3">
        <h2>Create New Group</h2>
        <form method="POST" action="">
            {{ group_form.csrf_token() }}
            {{ forms.input(group_form.group_num, "Enter group number (e.g. 3)") }}
            <div class="form-group pt-2 pb-2">
                <strong>{{ group_form.members.label }}</strong>
                <div class="container">
                    {% for choice in group_form.members %}
                    <div class="form-check">
                        {{ choice(class_="form-check-input") }}
                        {{ choice.label(class_="form-check-label") }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {{ group_form.submit(class_="btn btn-outline-primary btn-sm") }}
        </form>
    </div>
</div>

{% endblock %}
