{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
<div class="container pt-3">
	<h2>Assignment Info</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Name:</strong> PSA {{assignment.num}}: {{assignment.base_assignment.title}}
        </li>
        <li class="list-group-item">
            <strong>Course:</strong> {{section.course | upper}}, Section
            {{section.section_num}} ({{section.semester | upper}})
        </li>
        <li class="list-group-item">
            <strong>Student Submitted Files:</strong> 
            <ul>
                {% for sf in assignment.base_assignment.files %}
                <li>{{sf.filename}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Tester Files:</strong> 
            <ul>
                {% for tf in assignment.base_assignment.tester_files %}
                <li>{{tf.filename}}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Tester Command:</strong> {{ assignment.base_assignment.tester_run_command }}
        </li>
    </ul>
</div>

<div class="container pt-3">
	<h2>Groups</h2>
    <ul class="list-group">
        {% if teams|length > 0 %}
            {% for team in teams %}
            <li class="list-group-item">
                <h5>Group {{team.team_num}}</h5>
                <hr/>
                <dl class="row">
                    <dt class="col-lg-2">Members</dt>
                    <dd class="col-lg-10">
                        <ul class="list-unstyled">
                        {% for m in team.members %} 
                            <li>{{m.last_name}}, {{m.first_name}}</li>
                        {% endfor %}
                        </ul>
                    </dd>

                    <dt class="col-lg-2">Submission Time</dt>
                    <dd class="col-lg-10">FIXME</dd>

                    <dt class="col-lg-2">Commit Comment</dt>
                    <dd class="col-lg-10">FIXME</dd>

                    <dt class="col-lg-2">Feedback Time</dt>
                    <dd class="col-lg-10">FIXME</dd>
                </dl>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ 
                                 url_for('user_views.psa_results',
                                     semester=section.semester,
                                     section_num=section.section_num,
                                     psa_num=assignment.num,group_num=team.team_num)
                                 }}">
                            View Feedback
                        </a>
                    </li>
                    <li>
                        <a href="javascript:sendNotification('{{
                                url_for('handle_notification',
                                    course=section.course, semester=section.semester,
                                    section=section.section_num, psa=assignment.num,
                                    group=team.team_num)
                                    }}').then(alert)">
                            Regenerate Feedback
                        </a>
                    </li>
                    <li>
                        <a href="{{ 
                                  url_for('user_views.delete_group',
                                      semester=section.semester,
                                      section_num=section.section_num,
                                      psa_num=assignment.num,group_num=team.team_num) 
                                  }}">
                            Delete Group
                        </a>
                    </li>
                </ul>
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No groups found</li>
        {% endif %}
    </ul>

    <div class="container border pt-3 pb-3">
        <h2>Create New Group</h2>
        <form method="POST" action="">
            {{ group_form.csrf_token() }}
            {{ forms.input(group_form.group_num, "Enter group number (e.g. 3)") }}
            <div class="form-group pt-2 pb-2">
                <strong>{{ group_form.members.label }}</strong>
                <div class="container">
                    {% for choice in group_form.members %}
                    <div class="form-check">
                        {{ choice(class_="form-check-input") }}
                        {{ choice.label(class_="form-check-label") }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {{ group_form.submit(class_="btn btn-outline-primary btn-sm") }}
        </form>
    </div>
</div>

<script type="text/javascript">
    async function sendNotification(url) {
        const response = await fetch(url);
        if (!response.ok) {
            alert(response.status);
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return await response.text()
    }
</script>

{% endblock %}
