<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">

    <title>{{ page_title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand">
                <i class="bi-safe-fill" style="color: darkmagenta"></i>
                <strong>Simplified Automatic Feedback Environment</strong>
            </span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_views.root') }}">
                        <i class="bi-house" style="font-size: 1.5rem"></i>
                    </a>
                </div>

                {% if user and user.is_authenticated and user.sections.count() > 0 %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCoursesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Courses
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarCoursesDropdown">
                        {% for section in user.sections %}
                        <li><a class="dropdown-item" href="{{ url_for('user_views.section_overview', semester=section.semester, section_num=section.section_num) }}">
                                {{section.course|upper}} ({{section.semester|upper}},
                                Section {{section.section_num}})
                        </a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if user and user.is_authenticated and user.admin %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAdminDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('admin.admin_instructors') }}">Instructors</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('admin.admin_sections') }}">Sections</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('admin.admin_users') }}">Users</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('admin.admin_assignments') }}">Assignments</a></li>
                    </ul>
                </div>
                {% endif %}

                {% if user and user.is_authenticated %}
                <div class="container d-flex flex-row-reverse">
                    <a class="btn btn-danger btn-sm nav-link text-white" href="{{ url_for('auth.logout') }}" role="button">Log Out</a>
                    <a class="nav-link link-secondary" href="{{ url_for('user_views.user_profile', username=user.username) }}">Profile
                        <i class="bi-person-circle"></i></a>
                </div>
                {% else %}
                <div class="container d-flex flex-row-reverse">
                    <a class="btn btn-primary btn-sm nav-link text-white" href="{{ url_for('auth.login') }}" role="button">Sign In</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
    <div class="container pt-3">
            {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            {% endfor %}
    </div>
        {% endif %}
    {% endwith %}

    {% block body %}
    <h1>Welcome!</h1>
    <p>Some text goes here</p>
    {% endblock %}
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
