{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3 pb-3">
        <h2>SAFE @ USD Login</h2>
        <p>Please remember that your SAFE @ USD password is <strong>not</strong> your
        USDOne password.</p>
        <form method="POST" action="">
            {{ form.csrf_token() }}
            <div class="form-group">
                <strong>{{ form.username.label }}:</strong>
                <div class="input-group mb-3">
                    {{ form.username(class_="form-control", placeholder="Enter USD username") }}
                    <span class="input-group-text" id="basic-addon2">@sandiego.edu</span>
                </div>
                {% if form.username.errors %} 
                <small class="text-danger">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            {{ forms.input(form.password, "Enter SAFE @ USD password") }}
            
            {{ form.submit(class_="btn btn-primary") }}
            <div class="container pt-2"><a href="{{ url_for('forgot_password') }}">Forgot
                your password?</a></div>
        </form>
    </div>
{% endblock %}
