{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
        <h2>Section Info</h1>
        <ul class="list-group">
            <li class="list-group-item"><strong>Course Name:</strong> {{section.course}}</li>
            <li class="list-group-item"><strong>Semester:</strong> {{section.semester}}</li>
            <li class="list-group-item"><strong>Section:</strong> {{section.section_num}}</li>
        </ul>
    </div>
    <div class="container pt-3 pb-3">
        <h3>Modify Instructors</h3>
        <form method="POST" action="">
            {{ form.csrf_token() }}
            {{ forms.checkbox_input(form.instructors) }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
