{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-2">
        <h2>SAFE Admin: Edit Assignment</h2>
        <hr/>
    </div>

    <div class="container pt-2">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ assignment_form.csrf_token }}
            {{ assignment_form.assignment_id }}
            {{ forms.input(assignment_form.title, "Enter assignment title") }}
            {{ forms.input(assignment_form.files, "Enter space separate list of assignment files") }}
            <div class="row">
                <div class="col">
                    {{ forms.input(assignment_form.tester_run_command, "Enter command to be run by the tester (e.g. 'python3 my_autograde.py')") }}
                </div>
                <div class="col">
                    {{ forms.input(assignment_form.max_runtime, "Enter maximum tester runtime (in seconds)") }}
                </div>
            </div>
            {{ assignment_form.submit(class_="btn btn-primary btn-sm") }}
        </form>
    </div>

{% endblock %}
