{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
<div class="container pt-3">
	<h2>
        {{section.course|upper}}, Section {{section.section_num}}
        ({{section.semester|upper}})
    </h2>
    <hr/>
</div>

<div class="container pt-3">
    <h3><i class="bi-list"></i> Assignments:</h3>
    <ul class="list-group">
        {% if section.assignments.count() > 0 %}
            {% for assignment in section.assignments %}
            <li class="list-group-item border-0 fs-5">
                <i class="bi-caret-right"></i>
                <strong>PSA {{assignment.num}}:</strong> {{assignment.base_assignment.title}}
                (<a class="text-decoration-none" href="{{ url_for('user_views.psa_overview', semester=section.semester, section_num=section.section_num, psa_num=assignment.num) }}">View</a>, 
                <a class="text-decoration-none text-danger" href="{{ url_for('user_views.delete_assignment', semester=section.semester, section_num=section.section_num, psa_num=assignment.num) }}">Delete</a>)
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No assignments found</li>
        {% endif %}
    </ul>

    <div class="container pt-3">
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAssignmentModal">
            Add New Assignment
        </button>
    </div>
</div>

<div class="container pt-4">
    <h3><i class="bi-people"></i> Roster:</h3>
    <form method="POST" action="">
    {{ remove_students_form.csrf_token() }}
    <table class="table">
        <thead>
            <tr class="fs-5">
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in section.users %}
            <tr>
                <td>
                    {% if not user.instructor %}
                    <input class="form-check-input" id="students_to_remove-{{user.user_id}}"
                                                    name="students_to_remove" type="checkbox"
                                                    value="{{user.user_id}}">
                    {% endif %}
                </td>
                <th scope="row">{{ user.last_name }}, {{ user.first_name }}</th>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.instructor %} Instructor {% else %} Student {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container ps-2">
    {{ remove_students_form.submit(class_="btn btn-sm btn-outline-danger") }}
    </div>
    </form>

    <div class="container pt-3">
        <h4><i class="bi-person-lines-fill"></i> Manage Roster:</h4>
        <button type="button" class="btn btn-outline-primary btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#uploadRosterModal">
            Upload Roster File
        </button>
    </div>
</div>

<!-- Upload Roster File Modal -->
<div class="modal fade" id="uploadRosterModal" tabindex="-1" aria-labelledby="uploadRosterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ roster_form.csrf_token() }}
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadRosterLabel">Upload Roster File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Select the CSV file containing your course roster.  This
                    file is available in Blackboard by going to your Full Grade
                    Center and finding the "Work Offline" ("Download") link.
                    From there, select <strong>"User Information Only"</strong>
                    for the DATA and <strong>"Comma"</strong> as the Delimiter
                    Type in OPTIONS.</p>

                    <div class="container border pt-2 pb-2">
                        {{ forms.input(roster_form.roster_file, "", "form-control-file") }}
                        <div class="form-group pt-2">
                            {{ roster_form.add_drop(class_="pl-2 form-check-input") }} {{ roster_form.add_drop.label }}
                        </div>
                    </div>

                    <p>Note: Selecting <strong>Enable Add/Drop</strong> will
                    remove any students who do not appear in the uploaded roster
                    file.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    {{ roster_form.submit(class_="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add New Assignment Modal -->
<div class="modal fade" id="addAssignmentModal" tabindex="-1" aria-labelledby="addAssignmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ assignment_form.csrf_token() }}
                {{ assignment_form.hidden_tag(assignment_form.section_id) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="addAssignmentLabel">Add New Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            {{ forms.input(assignment_form.assignment_num, "Enter assignment number (e.g. 3)") }}
                        </div>
                        <div class="col">
                            {{ forms.input(assignment_form.base_assignment_id, "", "form-select") }}
                        </div>
                    </div>
                    <strong>Deadline:</strong>
                    <div class="row pb-3">
                        <div class="col">
                            {{ assignment_form.due_date(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ assignment_form.due_time(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    {{ assignment_form.submit(class_="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% if new_assignment_failed %}
<script type="text/javascript">
    // New assignment form validation failed so we want to show the form's modal,
    // which will have the validation errors shown.
    document.addEventListener('DOMContentLoaded', function() {
        var addAssignmentModal = document.getElementById('addAssignmentModal');
        var modal = new bootstrap.Modal(addAssignmentModal);
        modal.show();
    }, false);
</script>
{% endif %}

{% if roster_upload_failed %}
<script type="text/javascript">
    // Same as above, but for failures in the roster upload form.
    document.addEventListener('DOMContentLoaded', function() {
        var uploadRosterModal = document.getElementById('uploadRosterModal');
        var modal = new bootstrap.Modal(uploadRosterModal);
        modal.show();
    }, false);
</script>
{% endif %}

{% endblock %}
