{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
<div class="container pt-3">
	<h1>Course Info</h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> {{section.course}}</li>
        <li class="list-group-item"><strong>Semester:</strong> {{section.semester}}</li>
        <li class="list-group-item"><strong>Section:</strong> {{section.section_num}}</li>
    </ul>
</div>

<div class="container pt-3">
	<h1>Assignments</h1>
    <ul class="list-group">
        {% if section.assignments|length > 0 %}
            {% for assignment in section.assignments %}
            <li class="list-group-item">
                <strong>PSA {{assignment.num}}:</strong> {{assignment.title}}
                (<a href="{{ url_for('user_views.psa_overview', semester=section.semester, section_num=section.section_num, psa_num=assignment.num) }}">View</a>)
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No assignments found</li>
        {% endif %}
    </ul>
    <div class="container border pt-3 pb-3">
        <h2>Add Assignment</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ assignment_form.csrf_token() }}
            {{ forms.input(assignment_form.assignment_num, "Enter assignment number (e.g. 3)") }}
            {{ forms.input(assignment_form.title, "Enter assignment title") }}
            {{ forms.input(assignment_form.files, "Enter space separate list of assignment files") }}
            <div class="form-group">
                <strong>{{ assignment_form.tester_files.label() }}:</strong>
                {{ assignment_form.tester_files(class="form-control-file") }}
                {% if assignment_form.tester_files.errors %}
                    {% for error in assignment_form.tester_files.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            {{ assignment_form.submit(class_="btn btn-outline-primary btn-sm") }}
        </form>
    </div>
</div>

<div class="container pt-3">
	<h1>Roster</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in section.users %}
            <tr>
                <th scope="row">{{ user.last_name }}, {{ user.first_name }}</th>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.instructor %} Instructor {% else %} Student {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container pl-0">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ roster_form.csrf_token() }}
            <div class="form-group">
                <h4>{{ roster_form.roster_file.label }}:</h4>
                {{ roster_form.roster_file(class_="form-control-file") }}
            </div>
            {{ roster_form.submit(class_="btn btn-outline-primary btn-sm") }}
        </form>
    </div>
</div>
{% endblock %}
