{% extends "base.html" %}

{% block body %}
<div class="container pt-3">
	<h1>User Info</h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> {{selected_user.first_name}} {{selected_user.last_name}}</li>
        <li class="list-group-item"><strong>Email:</strong> {{selected_user.username}}@sandiego.edu</li>
    </ul>
</div>
{% if selected_user.sections.count() > 0 %}
<div class="container pt-3">
	<h1>Courses</h1>
    <ul class="list-group">
        {% for section in selected_user.sections %}
        <li class="list-group-item">{{section.course|upper}} ({{section.semester|upper}},
            Section {{ "%02d" % section.section_num}})</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
